@import "normalize.css";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  outline: 0;
}

body {
  font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #222222;
  font-weight: normal;
  background-color: #FFFFFF;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 26px;
  font-weight: bold;
  margin: 0;

  & small {
    font-size: inherit;
    font-weight: normal;
  }
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;

  & small {
    font-size: inherit;
    font-weight: normal;
  }
}

/* h3, h4 .... */

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

strong {
  font-weight: bold;
}

a, :global(.link) {
  color: #616161;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #212121;
  }
}
